```css
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #000000, #0d0d0d, #1a1a1a);
    color: #d9d9d9;
    font-family: Georgia, serif;
    line-height: 1.6;
}

header{
    text-align: center;
    padding: 30px;
    background: #111;
    border-bottom: 3px solid darkred;
}

header h1{
    font-size: 3rem;
    color: crimson;
    text-shadow: 0 0 10px red;
    letter-spacing: 3px;
}

main{
    width: 80%;
    margin: 30px auto;
}

section, div{
    background: rgba(20,20,20,0.9);
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
}

h2{
    color: crimson;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2rem;
}

h3{
    color: darkred;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

img{
    display: block;
    margin: 20px auto;
    border: 3px solid darkred;
    border-radius: 10px;
}



p{
    text-align: justify;
    margin-bottom: 10px;
}

footer{
    text-align: center;
    padding: 20px;
    background: #111;
    border-top: 3px solid darkred;
    color: gray;
}

```
